div(data-nav)
  h2 Features
  div
    ul
      li Simplified <a href="https://github.com/substack/dnode">dnode</a> client ↔ server RPC API
      li
        | Peer-to-Peer RPC API
        ul: li Each peer is many clients and servers
      li Publish-Subcribe API
      li Autoreconnects and buffering similar to <a href="https://github.com/substack/upnode">upnode</a>
      li Easily utilise different transports
      li Usable in the browser with the Websockets transport
      li Create your own transport types with any duplex stream
  div
    h3 Future Features
    ul
      li Client function call timeouts
      li Integration with <a href="http://nodejs.org/api/cluster.html">cluster</a>
      li
        | Authentication
        ul
          li Password
          li Certificates
          li IP <a href="http://en.wikipedia.org/wiki/Access_control_list">ACL</a>
      li
        | Proxying RPC
        ul
          li Allowing <code>client</code> can communicate with <code>server2</code> via <code>server1</code>
          li Achieved by <code>expose()</code>ing another <code>client</code> or <code>server</code>
      li WebRTC transport <code>rtc://</code> to provide <code>client ↔ client</code> networks

