div(data-nav)
  h3 Transports



  div(data-nav)
    h4 tcp

  :markdown
    | Transport     | Notes         | Arguments             |
    | ------------- |:-------------:| ---------------------:|
    | `tcp`         |               | `port`, `host`
    | `tls`         |               |
    | `http`        |               |
    | `https`       |               |
    | `ipc`         | Unix Sockets  | 
    | `ws`          | Web Sockets   | 

  //-   li: code tcp
  //-   li: code 
  //-   li: code 
  //-   li: code 
  //-   li: <code></code> (unix sockets)
  //-   li: <code></code> (websockets)
