
//inline imports
@import "vendor/left-nav.css"
@import "vendor/monokai.css"

//global styles
a
  color navy

.nav-depth-1
  margin 3px 20px
  border-radius 5px
  padding 5px 0
  font-size 12px


.main ul
  margin-left 20px
  ul
    margin-left 40px


code
  font-weight bold

pre code
  font-weight normal
  border-radius 5px
  padding 20px

//sections

//download
// .download 
//   pre code