
!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Responsive Nav · Advanced Left Navigation Demo
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='http://localhost:3000/JavaScript/responsive-nav.js-master/demos/advanced-left-navigation/styles.css')
  body
    #nav(role='navigation')
      ul
        li.active
          a(href='#') Home
        li
          a(href='#') About
        li
          a(href='#') Projects
        li
          a(href='#') Blog
    .main(role='main')
      a#toggle(href='#nav') Menu

    script(src='http://localhost:3000/JavaScript/responsive-nav.js-master/responsive-nav.js')
    script
      var navigation = responsiveNav("#nav", {customToggle: "#toggle"});


    //- include each section in file order
    //- !{includeDir("sections")}
    //- script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery#{min}.js')
    //- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular#{min}.js')
    //- script(src='docs/js/app.js')



